body{
    margin:0;
    font-family:Arial;
    background:#0f172a;
    color:white;
}

/* Layout */

.dashboard{
    display:flex;
}

/* Sidebar */

.sidebar{
    width:240px;
    background:#020617;
    height:100vh;
    padding:20px;
}

.stats-card{
    background:#1e293b;
    padding:15px;
    border-radius:10px;
    text-align:center;
    margin-bottom:20px;
}

.logout-btn{
    width:100%;
    padding:10px;
    background:#ef4444;
    border:none;
    color:white;
    border-radius:8px;
    cursor:pointer;
}

/* Main */

.main-content{
    flex:1;
    padding:30px;
}

/* Table */

.table-container{
    background:#1e293b;
    padding:20px;
    border-radius:15px;
}

table{
    width:100%;
    border-collapse:collapse;
}

th,td{
    padding:12px;
    border-bottom:1px solid #334155;
}

button{
    background:#ef4444;
    border:none;
    padding:6px 12px;
    color:white;
    border-radius:6px;
    cursor:pointer;
}
